@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0.95);
  }
  to {
    transform: scale(1);
  }
}

@keyframes zoomOut {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.95);
  }
}

@keyframes zoom {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slideFromTop {
  from {
    transform: translateY(-0.5rem);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideFromRight {
  from {
    transform: translateX(0.5rem);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideFromLeft {
  from {
    transform: translateX(-0.5rem);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideFromBottom {
  from {
    transform: translateY(0.5rem);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Styles for interactive menu items */
.interactive-item {
  position: relative; /* Needed for absolute positioning of child images */
  overflow: hidden;
  border-radius: 24px; /* Match the container's rounded corners */
  /* Add any other styling for the interactive-item container here */
}

/* Base styles for both images */
.interactive-item .mainframe-photo,
.interactive-item .product-photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Layering */
.interactive-item .mainframe-photo {
  z-index: 1;
}

.interactive-item .product-photo {
  transition: transform 0.9s ease-in-out;
  z-index: 2; /* Set z-index for product photo */
  backface-visibility: hidden; /* Helps with rendering glitches */
  will-change: transform; /* Hint for browser optimization */
}

.interactive-item.is-active .product-photo {
  transform: rotate(3deg) scale(1.05);
}